<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="container">
  <% if (errors) { %>
    <h2><%= errors %></h2>
  <% } %>
  <a href="/pets/new" class="btn btn-info" role="button">Add Pet</a>
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>Name</th>
          <th>Breed</th>
          <th>Type</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <% pets.forEach(function(pet){ %>
        <tr>
          <td><%= pet.name %></td>
          <td><%= pet.breed %></td>
          <td><%= pet.type %></td>
          <td><%= pet.location.coordinates[0] %></td>
          <td><%= pet.location.coordinates[1] %></td>
          <td>
            <a href="/pets/<%= pet._id %>"  class="btn btn-info" role="button">
              View
            </a>
          </td>
        </tr>
      <% }); %>
    </tbody>

  </table>
</div>


</body>
</html>
